<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.username %> and welcome on board !</h1>
    <p>
      <strong>Thank you to register on our site</strong><br>
      You have register on our site, by using this e-mail address : <%= @user.email %>.
    </p>
  </body>
</html>