<div class="new_student" style="">
    <div class="container" style="background: 0 0;">
        <div class="new_student_and_img row">
            <div class="animate_img col-md-6" style="">
                <div class="link_to_new_teacher btn btn-dark">
                    <h3><a href="/teachers/new">S'inscrire en tant que professeur</a></h3>
                </div>
                <img src="../assets/squeletton.gif" width="500px" height="550px">
            </div>
            <%= render 'form', student: @student %>
        </div>
    </div>
</div>