<div id="presentation">
    <div class="team_project">
        <h3>Qui Sommes Nous ?</h3>
        <hr class="trait_three">
        <div class="section_one_team">
            <div class="organized">
                <h4>Organisé</h4>
            </div>
            <div class="creative">
                <h4>Créative</h4>
            </div>
            <div class="trusted">
                <h4>Fiable</h4>
            </div>
        </div>
        <div class="section_two_team">
            <div>
                <h4>Nos Origines</h4>
                <p>Nous nous sommes rencontrés lors de notre formation chez Sayna. En ayant la même passion pour l'informatique, nous nous sommes mis en groupe pour réaliser ce projet qui nous tient à coeur. Elle est composée Princy, Manda, Ranja, Vaohita et Sahaza.</p>
            </div>
            <div>
                <h4>Nos Objectifs</h4>
                <p>Notre but pour le projet "Learning Game" est d'améliorer la qualité de l'éducation à Madagascar. Nos cibles sont les jeunes au collège et au lycée. On leur donnera une envie d'apprendre et de dépasser leur limites. </p>
            </div>
        </div>
    </div>
    <button id="topbutton"><i></i></button>
    <div class="section_my_team">
        <h3>Les membres du groupe </h3>
        <hr class="trait_three">
        <div class="myteam">
            <div class="member_team princy">
                <div class="information_team">
                    <div>
                        <br>
                        <a href="">Princy</a>
                    </div>
                </div>
                <br><br>
                <span>Chef de projet et Développeur Full stack </span> <!-- <br><a href="">Voir plus</a></span> -->
            </div>
            <div class="member_team ranja">
                <div class="information_team">
                    <div>
                        <br>
                        <a href="">Ranja</a>
                    </div>
                </div><span>Web designer et Développeur Front-end</span><!-- <br><a href="">Voir plus</a></span> -->
            </div>
            <div class="member_team sahaza">
                <div class="information_team">
                    <div>
                        <br>
                        <a href="">Sahaza </a>
                    </div>
                </div><span>Développeur Front end
                    <!-- <br><a href="">Voir plus</a></span> -->
            </div>
            <div class="member_team vaohita">
                <div class="information_team">
                    <div>
                        <br>
                        <a href="">Vaohita</a>
                    </div>
                </div><span>Développeur Back end
                    <!-- <br><a href="">Voir plus</a></span> -->
            </div>
            <div class="member_team manda">
                <div class="information_team">
                    <div>
                        <br>
                        <a href="">Manda </a>
                    </div>
                </div><span>Développeur Full stack
                    <!-- <br><a href="">Voir plus</a></span> -->
            </div>
        </div>
    </div>
</div>