<header style="background: url('../assets/bg_copie.png');">
    <div class="">
        <div class="container" style="background: 0 0;">
            <div class="signup-content form-row">
                <div class="signup-img form-group" style="position: relative; top: -100px;">
                    <img src="../assets/tux-161406_1280.png" width="500px" height="550px">
                </div>
                <div class="signup-form form-group" style="position: relative; top: 100px;">
                    <%= render 'form', teacher: @teacher %>
                </div>
            </div>
        </div>
    </div>
</header>