<div class="user_show">
    <div class="">
        <h3>Mon pseudo : <strong>
                <%= current_user.username %></strong></h3>
        <h3>Mon email : <strong>
                <%= current_user.email %></strong></h3>
        <h3><strong>
                <% if current_user.status == "Student" %>
                <%= link_to "Editer mon profil", edit_student_path(@student), class: "btn btn-secondary" %>
                <% elsif current_user.status == "Teacher" %>
                <%= link_to "Editer mon profil", edit_teacher_path(@teacher), class: "btn btn-secondary" %>
                <% end %>
            </strong></h3>
    </div>
</div>