
/* In our demo, the footers are fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
@media (max-width:1024px){

	footer { position: static; }
	header { padding-top:40px; }
}