@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
@import url('https://fonts.googleapis.com/css?family=Voltaire');

#games_space {
    margin-top: 0%;
    padding: 10%  0%;
    height: 100%;
    width: 100%;
    text-align: center;
}

#games_space .games_space {
    position: relative;
    margin: 0% 10% 10% 10%;
    border: 1px solid red;
    width: 80%;
    height: 500px;
}

div.games_space #world {
    margin-top: 0%;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #dbe6e6;
    overflow: hidden;
}


div.games_space #gameoverInstructions {
    position: absolute;
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120px;
    text-align: center;
    color: #ffc5a2;
    opacity: 0;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -100%);
    user-select: none;
    transition: all 500ms ease-in-out;

    &.show {
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: all 500ms ease-in-out;
    }

    ;
}


div.games_space #dist {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0%);
    user-select: none;
}

div.games_space .label {
    position: relative;
    font-family: 'Voltaire', sans-serif;
    text-transform: uppercase;
    color: #ffa873;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 5px;
}


div.games_space #distValue {
    position: relative;
    text-transform: uppercase;
    color: #dc5f45;
    font-size: 40px;
    font-family: 'Voltaire';
    text-align: center;
}

div.games_space #credits {
    position: relative;
    width: 100%;
    margin: auto;
    bottom: 0;
    margin-bottom: 20px;
    font-family: 'Voltaire', 'Open Sans', sans-serif;
    color: #544027;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

div.games_space #credits a {
    color: #544027;

}

div.games_space #credits a:hover {
    color: #dc5f45;
}

div.games_space #instructions {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Voltaire', 'Open Sans', sans-serif;
    color: #dc5f45;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

div.games_space .lightInstructions {
    color: #5f9042;
    font-size: .8em;
}