div#flash {
    z-index: 10;
}

div#mySidenav {
    z-index: 7;
}

header,
footer {
    z-index: 6;
}

navbar {
    z-index: 5;
}

div#search_result {
    z-index: 5;
}
section {
    z-index: 4;
}

a:hover {
    cursor: pointer;
    color: white;
}