/* Les Formulaires sur les élèves */
#student_form {
    width: 100%;
    height: auto;
}
#student_form .names{
}
#student_form .address{
    width: 100%;
}
#student_form select{
    background: rgba(0, 0, 0, .5);
    color: white;
}
/* FORM END */

/* New Student CSS */
.new_student{
    /* background: url('../assets/bg_copie.png') center no-repeat; background-size: cover; */
}
.new_student div{
    /* border: 1px solid red; */
}
.new_student .link_to_new_teacher, .new_student .link_to_new_student{
    width: 100%;
    color: #141C2F;
}
.new_student .new_student_and_img{
    background: grey;
    background-color: rgba(0,0,0,.5);
}
.new_student .animate_img{
}
.new_student #student_form {
    padding-top: 0%;
    padding-bottom: 3%;
}
.new_student .student_form{
    padding-top: 6%;
    padding-bottom: 3%;
}
.new_student .submit, .edit_student .submit{
    padding: 0;
    width: 100%;
}
.new_student input.submit, .edit_student input.submit{
    background-color: #141C2F;
    color: white;
}
/* End of new student */
