/* normalize */
table a:hover{
	color: #0097e6;
}
.new_test div{
	text-align: center;
}

/* normalize */

.new_test {
	width: 80%;
	margin: 0% 10% 10% 10%;
	color: #141C2F;
}

.new_test form{
	padding: 5%;
}
.new_test .infos{
}
.new_test .question{
	border-bottom: 2px solid #141C2F;
}

.new_test .questioncontent{
	margin: 5% 0% 0% 0%;
	display: inline-block;
	width: 100%; 
}

.new_test .questioncontent textarea{
	width: 100%;
	height: 43px; 
	min-height: 43px; 
	font-size: 2em;
}

.new_test .questionoptions{
	padding: 0% 2%;
}

.new_test .options{
	margin-top: 0;
	padding: 0% 0% 0% 0%;
}

.new_test .options input{
	margin: 0 0 1% 0;
}

.new_test .qpoints{
	font-size: 5em;
	width: 30%;
	height: 100%;
}

.new_test .qpoints input{
	text-align: center;
	margin: 0;
	padding: 0;
}

.new_test input[type='checkbox'] {
	height: 45px;
}

.new_test .submit{
	width: 100%;
	margin: 2% 0;
	text-align: center;
}