<div class="">
    <table class="table">
        <thead class="table table-light">
            <tr>
                <th colspan="3">Title</th>
                <th colspan="3">Points à gagner</th>
                <th colspan="3">Nombre de participant</th>
                <th colspan="3">Faire le test</th>
            </tr>
        </thead>
        <tbody class="table">
            <% @tests.each do |tst| %>
            <tr>
                <td colspan="3">
                    <%= tst.title %>
                </td>
                <td colspan="3">
                    <%= points_total(tst) %>
                </td>
                <td colspan="3">
                    <%= tst.students.length %>
                </td>
                <td colspan="3">
                    <%= link_to new_student_test_doing_test_path(current_student.id, tst.id) do %>
                        <i class="fas fa-play-circle"> Tester</i>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>