<footer>
    <button id="topbutton"><i></i></button>
    <div class="footer_section">
        <div class="contact">
            <h4>Contactez nous :</h4>
            <span>Téléphone : 034.67.430.55 <br>
                Email : team5sayna4@gmail.com <br>
            </span>
        </div>
        <div class="contact">
            <h4>Suivez-nous sur : </h4>
            <span style="word-spacing: 20px;"> 
            	<a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i> </a>
                <a href=""><i class="fa fa-linkedin"></i> </a>
            </span>
        </div>
        <div class="contact">
            <h4>A propos :</h4>
            <span>Ce projet a été réalisé par une équipe<br>
                de la promotion Sayna 4<br>
            </span>
        </div>
    </div>
    <hr class="trait">
    <div class="copyright">© 2019 Copyright by Team 3 and Design by Tezitra</div>
    <br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>

<!-- // Include FusionCharts core file -->
<script type="text/javascript" src="http://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<!-- // Include FusionCharts Theme file -->
<script type="text/javascript" src="http://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
<!-- <script src="http://code.jquery.com/jquery-3.3.1.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="jquery.classyloader.js"></script> -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r80/three.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/264161/OrbitControls.js"></script>

<!-- ================Local script================= -->
<script src="../assets/swiper.min.js"></script>
<script>
    AOS.init();
</script>
<script src="../assets/script.js"></script>
<!-- ============================================= -->

</footer>