<navbar>
    <div class="box">
        <div>
            <a data-method="GET" href="/" class="link_home">
                <span>
                </span>
                <h3><i class="fas fa-home"> Acceuil</i></h3>
            </a>
        </div>
            <% if user_signed_in? %>
                
            <div><a data-method="GET" href="/user/<%= current_user.id %>/presentation/team" class="link_team">
                
            <% else %>

            <div><a data-method="GET" href="#" class="link_team">

            <% end %>
            <span>
            </span>
            <h3><i class="fas fa-question-circle"> A propos</i></h3>
        </a></div>
        <% unless user_signed_in? %>
        <div><a data-method="GET" href="/users/sign_up" class="link_signup">
            <span>
            </span>
            <h3><i class="fas fa-user-plus"> Inscription</i></h3>
        </a></div>
        <% else %>
        <div><a data-method="DELETE" href="/users/sign_out" class="link_signup">
            <span>
            </span>
            <h3><i class="fas fa-door-open"> Déconnexion</i></h3>
        </a></div>
        <% end %>
    </div>
</navbar>