<div id="mySidenav" class="sidenav">
    <!-- Search form -->
    <form action="/searches" accept-charset="UTF-8" data-remote="true" method="post">
        <div class="searching">
            <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="5nTEo1vvN0QQdTzROIY1y7rF6y0cgbAUVMPUjF4UhNMO09OlCpy0rNcKHoa3r2gRyZ/pLMzb4L5+YHmOcuulvA==">
            <input type="text" name="title" class="search_bar" placeholder="Search...">
            <input type="submit" class="search_button" value="Go">
        </div>
    </form>
    <!-- End of search form -->

    <%= link_to "Mon profil", current_user %>
    
    <% if user_signed_in? && current_user.status == "Guest" %>
    <%= link_to "New Student", new_student_path %>
    <%= link_to "New Teacher", new_teacher_path %>
    <% end %>

    <div class="log_out">
        <a class="m-link" id='login-modal-launcher' data-toggle="modal" data-target="#login-modal"><i class="fas fa-sign-in-alt"> Se connecter</i></a>
    </div>
    <!-- <a class="m-link" id='register-modal-launcher' data-toggle="modal" data-target="#register-modal"><i class="fas fa-user-plus"> Register</i></a> -->

    <!-- End of log in & log out -->
</div>