<style type="text/css">
    #mySidenav .logo{
        height: 13%;
    }
</style>
<div id="mySidenav" class="sidenav">
    <div class="logo"></div>
    <!-- Search form -->
    <form action="/searches" accept-charset="UTF-8" data-remote="true" method="post">
        <div class="searching">
            <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="5nTEo1vvN0QQdTzROIY1y7rF6y0cgbAUVMPUjF4UhNMO09OlCpy0rNcKHoa3r2gRyZ/pLMzb4L5+YHmOcuulvA==">
            <input type="text" name="title" class="search_bar" placeholder="Search...">
            <input type="submit" class="search_button" value="Go">
        </div>
    </form>
    <!-- End of search form -->
    
    <% if user_signed_in? %>
    <!-- <a class="m-link" id='register-modal-launcher' data-toggle="modal" data-target="#register-modal"><i class="fas fa-user-plus"> Register</i></a> -->
        <% if current_user.status == "Guest" %>
            <%= link_to new_student_path do %>
                New Student
            <% end %>
            <%= link_to new_teacher_path do %>
                New Teacher
            <% end %>
        <% else %>
            <%= link_to current_user do %>
                <i class="far fa-user"> Mon profil</i>
            <% end %>
        <% end %>
    <% else %>
        <div class="log_out">
            <a class="m-link" id='login-modal-launcher' data-toggle="modal" data-target="#login-modal"><i class="fas fa-sign-in-alt"> Se connecter</i></a>
        </div>
    <% end %>

    <!-- End of log in & log out -->
</div>